# Example .htpasswd file for Basic Authentication
# 
# DO NOT use this file directly! Generate your own .htpasswd file.
#
# Methods to generate .htpasswd:
#
# 1. Using htpasswd utility (Apache tools):
#    htpasswd -c .htpasswd admin
#
# 2. Using online generator:
#    https://hostingcanada.org/htpasswd-generator/
#    https://www.web2generators.com/apache-tools/htpasswd-generator
#
# 3. Using openssl:
#    printf "admin:$(openssl passwd -apr1)\n" > .htpasswd
#
# The real .htpasswd file should be created in the same directory as this example.
# Format: username:encrypted_password_hash
#
# Example line (DO NOT USE - this is just format demonstration):
# admin:$apr1$xxxxxxxx$xxxxxxxxxxxxxxxxxxxx
